<section class="footer-section" style="position: fixed; bottom: 0; width: 100%;">
    <footer class="text-center text-white" style="background-color: #FF8234FF;">
      <div class="container p-4 pb-0">
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <% if (!user) {%>
            <span class="me-3">Register for free</span>
            
              <a href="/signup" data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                Sign up!
              </a>
          </p>
          <% } %>
        </section>
      </div>
    </footer>
</section>

