<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>

    <%- include('../components/head.ejs') %>

    <style>
        * {
            font-family: "Arial", sans-serif;
            box-sizing: border-box;
        }

        body {
            background-size: cover;
            background-color: #f0f0f0; /* Дополнительный цвет фона */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .btn-primary {
            background-color: #4CAF50;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            width: 100%;
        }

        .card h3 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        .form-label {
            color: #555;
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
        }

        .btn-primary {
            background-color: #FF8234FF;
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #FF8234FF; /* Изменение цвета при наведении */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Sign Up</h3>
                        <form action="/signup" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control rounded-3" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control rounded-3" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control rounded-3" id="password" name="password" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary rounded-3">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <% if (error) { %>
        <script>
            Swal.fire({
                title: "An error occurred!",
                text: "<%= error %>",
                icon: "error"
            });
        </script>
    <% } %>
</body>
</html>
